@import url('https://fonts.googleapis.com/css?family=Roboto');

body {
    min-height: 100%;
    font-family: 'Roboto', sans-serif;
    background-color: #E8EAED;
    color: #000000;
}

* a {
    color: #32cd32;
}


* a:hover {
    text-decoration: none;
    color: #24e624;
}

.header {
    width: 100%;
    height: 55px;
    background-color: rgba(255,255,255, 0.9);
    border-bottom: 1px solid #32cd32;
    position: fixed;
    text-align: center;
}

.header_title {
    font-size: 20px;
    text-align: center;
    color: #32cd32;
}

.profilPicture {
    z-index: 99;
    float: right;
    margin: 5px;
    width: 100px; height: 100px;
    border-radius: 100%;
    border: 1px solid #32cd32;
}

.main {
    background-color: #E8EAED;
    padding-top: 100px;
    margin-bottom: 90px;
    width: 700px;
}

.main_article {
    padding: 20px;
    background-color: #ffffff;
    margin: 20px;
    overflow: auto;
    box-shadow: 2px 5px 5px 3px rgba(0, 0, 0, 0.1);
}

.main_list {
    display: inline-flex;
    width: 45%;
    padding: 10px;
    margin-right: 10px;
}

.list-title {
    margin-left: -40px;
    font-size: 17px;
}

li {
    list-style-type: square;
    color: #32cd32;
}

li span {
    color: #000000;
}

.main_title {
    color: #32cd32;
    border-bottom: 1px dotted #32cd32; 
    font-size: 23px;
    text-align: center;
    text-transform: uppercase;
    padding-bottom: 15px;
}

.main_para {
    font-size: 17px;
}

* p {
    font-size: 15px;
}

#form {
    z-index: 99;
    padding: 35px;
    padding-top: 5px; padding-bottom: 5px;
    background-color: #ffffff;
}

#form * {
    margin-bottom: 10px;
    padding: 5px;
    width: 100%;
}

#form *:focus {
    outline: none !important;
    border: 1px solid #24e624;
    box-shadow: 0 0 5px #24e624;
}

#form button {
    background-color: #32cd32;
    color: #ffffff;
    border: none;
    height: 30px;
}

#form button:hover {
    background-color: #24e624;
}

#form textarea {
    height: 100px;
}

.footer {
    background-color: rgba(255,255,255, 0.9);
    border-top: 1px solid #32cd32;
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 70px;
}

.footer_social {
    margin-top: 15px;
    text-align: center;
    font-size: 15px;
}

.social {
    background-color: #32cd32;
    color: #ffffff;
    padding: 10px;
}

.social:hover {
    background-color: #24e624;
    color: rgb(255, 255, 255);
    text-decoration: none;
}

.signature {
    color: #32cd32; 
    font-size: 13px; 
    margin-top: 11px;
}

@media screen and (max-width: 800px) {
    .main { width: 600px; }
}

@media screen and (max-width: 600px) {
    .main { width: 400px; }

    .main_article { 
        margin: 5px; 
        margin-bottom: 15px;
    }

    .profilPicture {
        position: relative;
        margin: 0; padding: 0;
        margin-top: 5px;
        top: 0; left: 0;
        width: 60px; height: 60px;
    }

    .main_list {
        display: block;
        width: 100%;
    }
}

@media screen and (max-width: 415px) { 
    .main { width: 300px; }

    .header { height: 70px; }
}